.containerFiltros {
  width: 80%;
  max-width: 1366px;
  border: 1px solid #208cc9;
  display: grid;
  grid-template-rows: 1fr 1fr;
  margin: auto;
  margin-top: 2rem;
  position: relative;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.containerFiltros .text-filters {
  margin: 0;
  padding: 0.5rem;

  position: absolute;

  color: #208cc9;
  font-weight: 600;

  margin-left: 1rem;

  width: min-content;
}

.containerMultiSelect {
  display: flex;
  margin-top: 3rem;
}

.containerMultiSelect {
  display: flex;
  flex-wrap: nowrap;
  padding: 0 1rem;
}

.containerMultiSelect .container-filter {
  width: 100%;
  max-width: 280px;

  min-height: 3vh;
  margin: 0 .5rem;
}

.containerMultiSelect .container-filter .filter div:nth-child(1) span {
  position: relative;
  display: flex;
  align-items: center;
  justify-self: center;
  width: min-content;
  height: min-content;
  align-items: center;
  margin: 0 .5rem .1rem 0;
}

.containerMultiSelect .multiselect-uf {
  display: flex;
}

.containerMultiSelect .container-filter div:nth-child(1) {
  min-height: 40px;
  max-height: 40px;
  position: relative;
}

.containerMultiSelect .container-filter .multiselect-uf {
  position: absolute;
}

.containerMultiSelect .container-filter .multiselect-uf span {
  color: white;
  background: #0096FB;
}
.containerMultiSelect .container-filter .multiselect-uf div:nth-child(1) {
  display: flex;
}

.containerMultiSelect .container-filter .multiselect-uf div:nth-child(1) input {
  width: 20%;
}

.containerMultiSelect .container-filter .multiselect-uf div:nth-child(2) {
  top: 100%;
}

.containerMultiSelect .container-filter div:nth-child(1)::-webkit-scrollbar {
  display: none;
}

.containerMultiSelect .container-filter div:nth-child(1) span {
  max-width: 220px;
  overflow: hidden;
  font-size: 1rem;
  padding: .2rem .5rem;
  margin: 0;
}

.filter {
  border-bottom: 1px solid #215DA7;
}

.filter div:nth-child(1) {
  overflow: scroll;
  border: none;
}

.filter div:nth-child(1) input {
  width: 100%;
  padding: .35rem;
}

.filter div:nth-child(1) span {
  font-size: 1.2rem;
  margin-bottom: .8rem;
}

.filter .singleSelect span {
  font-size: 1.3rem;
}

.filter .singleSelect img {
  display: none;
}

.bottom {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

@media (max-width: 1024px) {
  .container-filter p {
    font-size: 1.35rem;
  }

  .filter div:nth-child(1) input::placeholder {
    font-size: 1.3rem;
  }
}

@media (max-width: 820px) {
  .containerMultiSelect .container-filter div:nth-child(1) {
    min-height: 3vh;
    max-height: 3vh;
  }

  .filter div:nth-child(2) ul li {
    font-size: 1.25rem;
  }

  .container-filter p {
    font-size: 1.25rem;
  }

  .filter div:nth-child(1) input::placeholder {
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .containerMultiSelect .container-filter div:nth-child(1) {
    min-height: 4vh;
    max-height: 4vh;
  }

  .filter div:nth-child(2) ul li {
    font-size: 1.05rem;
  }

  .container-filter p {
    font-size: 1.15rem;
  }

  .filter div:nth-child(1) input::placeholder {
    font-size: 1.1rem;
  }

}

@media (max-width: 540px) {
  .containerFiltros {
    display: none;
    position: fixed;
    top: 3rem;
    width: 100%;
    height: 100%;
    left: 100%;

    overflow-y: scroll;
    padding-bottom: 5rem;
    animation: animation-filters .5s linear forwards;
    border: none;
    z-index: 5;
  }
  
  .containerMultiSelect{
    margin-top: 1rem;
    flex-direction: column;
  }

  .containerFiltros .text-filters {
    display: none;
  }

  .container-filter p {
    text-align: center;
    text-decoration: underline;
    font-size: 1.4rem;
  }

  .containerMultiSelect .container-filter {
    width: 100%;
    max-width: 100%;

    min-height: 6vh;
    margin: .5rem 0;
  }

  .containerMultiSelect .container-filter div:nth-child(1) {
    min-height: 4.2vh;
    max-height: 4.2vh;
  }

  .containerMultiSelect .container-filter div:nth-child(1) {
    min-height: 5vh;
    max-height: 5vh;
  }
  /* .containerMultiSelect .container-filter div:nth-child(1) span {
    margin: 0 .4rem;
  } */
}

@keyframes animation-filters {
  from {
    left: 100%;
  } to {
    left: 0%;
  }
}